*{
    margin: 0px;
    padding: 0px;
}

/* google font link here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;

*/



li{
    list-style: none;
}

a{
    text-decoration: none ;
}
/* heade+banner+background image start here */


/* header menu dtart here*/
.header{
    background-color: black;
    width: 100%;
    padding: 10px 0px;
}

.nav-link{
    color:  #848484 !important;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px !important;
    position: relative;

}
.nav-link:hover{
    color:  #fff !important;
}
.nav-link:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background: white;
   
}
.nav-link:hover::before{
    color: white !important;
    width: 100%;
    transition: 0.5s;
    
}
/* banner part start here */
.header-banner{
    width: 100%;
    background: url(../img/bg-img.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}
.banner-text{
    height: 92vh;
    display: table-cell;
    vertical-align: middle;
}

/* <!-- left side start here --> */

.banner-text h1{
    font-family: 'Raleway', sans-serif;
    font-size: 36px ;
    font-weight: 400 ;
    color: #FFFFFF;
    margin: 24px 0px;
    width: 75%;
}


.banner-text .line{
    height: 3px;
    width: 75px;
    background-color: #FFF;

}

.banner-text p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px ;
    font-weight: 300 ;
    color: #B2B2B1;
    margin: 26px 0px;
    width: 75%;
}
.banner-text p:hover{
    color: white;
    font-weight: 400 ;
}

.banner-text button{
    border-radius: 5px;
    padding: 10px 35px;
    background: transparent;
    border: 2px solid #F5F5F5 ;
}
.banner-text button:focus{
    outline: none;

}
.banner-text button a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF; 
}


.banner-text button:hover{
    border: 2px solid #FF8B38 ;
    background-color: #FF8B38;
    color: black; 
}

.banner-text button:focus{
    outline: none;
}

/* right side start here */

.banner-form{
    height: 92vh;
    display: table-cell;
    vertical-align: middle;
}
.card{
    width: 100%;
    line-height: 46px;
    border: none !important ;
    margin-right: 10px;

}
.card-body{
    padding: 0px 30px;
}
.banner-form .card-header{
    background-color: #F5F5F5;
}
.banner-form .card-header h2{
    text-align: center;
    padding: 18px 18px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color:#333333 ;
}

.banner-form .card-header span{
    color:#FF8B38;
}
.banner-form .card-body{
    margin: 0px 15px 0px 5px;
    background-color: #FFFFFF;
}

.banner-form .card-body input{

    color: black;
    width: 100%;
    border: none;
    border-bottom: 1px solid #D6D6D6;
}
.banner-form .card-body input:focus{
    outline: none;
}
.banner-form .card-body input::placeholder{
    color: #BDBDBD;
}
.banner-form .card-body input[type=text] {
    margin: 25px 0px 12px 15px;
}
.banner-form .card-body input[type=email] {
    margin: 10px 0px 12px 15px;
}
.banner-form .card-body input[type=password] {
    margin: 10px 0px 40px 15px;
}
.banner-form .card-footer{
    padding: 15px 0px;
    background-color: #FF9B51;
    text-align: center;
}

.banner-form .card-footer input{
    color: #FFFFFF ;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: none;
}
.banner-form .card-footer input:focus{
    outline: none;
}

/* <!-- banner part end here --> */


/* social media start here */

.social-media{
    background-color: #FFFFFF;
    padding: 20px 0px;
    /* box-shadow: 0px 10px 20px 0px #B7B7B7; */
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px;
}

.SM-details h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px ;
    font-weight: 700;
    color: #333333;

}
.SM-details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    width: 99%;
}
.SM-details p:hover{
    color: black;

}

.SM-icon ul li{
    display: inline-block;
}
.SM-icon ul li:hover{
    transform: scale(1.2);

}

.SM-icon ul li a{
    color: #CCCCCC;
    font-size: 48px;
    padding-left: 65px;
    padding-right: 5px;
}

.SM-icon ul li a:hover{
    color: #FF9B51;
}
/* <!-- social media end here --> */

/* service function start here */

.service{
    width: 100%;
    background-color:#F5F5F5 ;
    padding: 90px 0px;
}

/* <!-- tab start here --> */

.service .tab-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.service .tab-3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active-color{
    background-color: #FF8B38 !important;
}
.service ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #333333;
    height: 95px;
    margin-bottom: 4px;
    width: 89px;
    text-align: center;
    line-height: 95px;

}
/* tab details start here */
.service h2{
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding-top: 5px;

 
}

.service p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #949598 ;
    padding: 24px 0px;
    width: 85%;

}
.service p:hover{
    color: black ;
}
.service button {
    border-radius: 5px;
    background-color: #FF8B38;
    padding: 13px 35px;
    border: none;

}
.service button a{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.service button:hover{
    border: none;
    color: #FF8B38;
    background-color: #333333;

}
.service button:focus{
    outline: none;

}

.service  .tab-des-img{
    padding: 18px 0px;
    /* width: 100%; */

}

/*  service function end here  */


/* Sub-list-section start here */
.Sub-list-section{
    width: 100%;
    padding: 50px 0px;
    background-color: #FFFFFF;
}

/* left side and image */
.Sub-list-section img{
    margin-top: 15px;
    /* width: 100%; */
}

/* <!-- right side and description  start here--> */
.Sub-list-section h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    padding-top: 10px;
}

.Sub-list-section .line{
    height: 3px;
    width: 75px;
    background-color:#FF8B38;
    margin: 25px 0px;
}
.Sub-list-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    padding: 7px 0px;
}

.Sub-list-section p:hover{
    color: black;
}

/*  both title start here */

ol, ul {
    padding-left: 0rem;
}
.Sub-list-section ul li{
    list-style: none;
    margin-top: 13px;


}

.Sub-list-section ul li a{
    text-decoration: none;
    


}
.Sub-list-section ul li a i{
    color: #FF8B38;
    border: 2px solid #FF8B38;
    border-radius: 50%;
    font-size: 17px;
    padding: 13px;

}


/*  Sub-list-section end here  */


/* Standard Picture Section start here */


/* <!-- left side and description  start here--> */

.Standard-Picture-section{
    /* width: 100%; */
    padding: 50px 0px;
    background-color: #F5F5F5;

}
.Standard-Picture-section h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    padding-top: 10px;
}

.Standard-Picture-section .line{
    height: 3px;
    width: 75px;
    background-color:#FF8B38;
    margin: 25px 0px;
}
.Standard-Picture-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    padding: 7px 0px;
}

.Standard-Picture-section p:hover{
    color: black;
}

/* right side and image */

.Standard-Picture-section img{
    /* width: 100%; */
    margin-top: 15px;
}
/* Standard Picture Section end here */


/* awesome banner start here */
.awesome{
    width: 100%;
    padding: 50px 0px;
    background-color: #FFFFFF;

}

.heading-top h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    padding-top: 10px;
    text-align: center;
}

.heading-top .line{
    height: 3px;
    width: 75px;
    background-color:#FF8B38;
    margin: 12px auto;
    text-align: center;
}
.heading-top p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    padding: 7px 0px;
    text-align: center;
}

.heading-top p:hover{
    color: black;
}

/* awesome-bottom start here */
.awesome .awesome-bottom ul{
    text-align: center;
}
.awesome .awesome-bottom ul li{
    list-style: none;
   
}
.awesome .awesome-bottom ul li a{
    text-decoration: none;
   
}
.awesome .awesome-bottom ul li a i{
    height: 70px;
    width: 70px;
    line-height: 65px;
    color: #FF8B38;
    border-radius: 50%;
    border: 2px solid #FF8B38;
    font-size: 32px;
    text-align: center;
    transition: 0.7s ease-in-out;

}
.awesome .awesome-bottom ul li a i:hover{
    transform: scale(1.5) rotate(1080deg);
    transition: 0.7s ease-in-out;

}
.awesome .awesome-bottom h2{
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    padding-top: 10px;
    text-align: center;
}

.awesome .awesome-bottom p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    padding: 7px 0px;
    text-align: center;
}

.awesome .awesome-bottom p:hover{
    color: black;
}

.box-padding{
    padding: 0px 25px;
}
/* awesome banner end here */


/* pricing banner start here */

/* heading-top start here */
.pricing{
    width: 100%;
    padding: 50px 0px;
    background-color: #F5F5F5;
}
.m-60{
    margin-top: 60px;
    align-items: flex-end;
}

/* table1 start here */
.table1{
    text-align: center;
    padding: 0px 15px;
}

.table1 .price-head{
    background-color: #333333 ;
    border-bottom: 1px solid #F5F5F5 ;
}
.table1 .price-head p{
    padding-top: 14px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.table1 .price-body{
    color: #FFFFFF ;
    background-color: #333333 ;
    border-bottom: 5px solid #FF8B38 ;
}

.table1 .price-body h1{
    font-size:  35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table1 .price-body h1 span{
    font-size: 94px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table1 .price-body p{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-style: italic;

}
.table1 .price-service{
    color: #86878B ;
    background-color: #FFFFFF ;
}
.table1 .price-service ul {
    padding: 0px;

}

.table1 .price-service ul li{
    border-bottom: 2px solid #F5F5F5;
    padding: 10px 0px;
}

/* table2 start here */

.table2{
    text-align: center;
    padding: 0px 15px;
}

.table2 .price-head{
    background-color: #333333 ;
    border-bottom: 1px solid #F5F5F5 ;
}
.table2 .price-head p{
    padding-top: 14px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.table2 .price-body{
    color: #FFFFFF ;
    background-color: #333333 ;
    border-bottom: 5px solid #FF8B38 ;
}

.table2 .price-body .price-topbody h1{
    font-size:  35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table2 .price-body .price-topbody h1 span{
    font-size: 94px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table2 .price-body .price-topbody p{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-style: italic;

}
.table2 .price-body .price-midbody{
    color: #FFFFFF ;
    background-color: #FF8B38 ;
    padding-top: 12px 0px;
    
}
.table2 .price-body .price-midbody h1{
    font-size:  14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 13px 0px 8px 0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px !important ;
}
.table2 .price-service{
    color: #86878B ;
    background-color: #FFFFFF ;
}
.table2 .price-service ul {
    padding: 0px;

}

.table2 .price-service ul li{
    border-bottom: 2px solid #F5F5F5;
    padding: 10px 0px;
}


/* table3 start here */

.table3{
    text-align: center;
    padding: 0px 15px;
}

.table3 .price-head{
    background-color: #333333 ;
    border-bottom: 1px solid #F5F5F5 ;
}
.table3 .price-head p{
    padding-top: 14px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.table3 .price-body{
    color: #FFFFFF ;
    background-color: #333333 ;
    border-bottom: 5px solid #FF8B38 ;
}

.table3 .price-body h1{
    font-size:  35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table3 .price-body h1 span{
    font-size: 94px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.table3 .price-body p{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-style: italic;

}
.table3 .price-service{
    color: #86878B ;
    background-color: #FFFFFF ;
}
.table3 .price-service ul {
    padding: 0px;

}

.table3 .price-service ul li{
    border-bottom: 2px solid #F5F5F5;
    padding: 10px 0px;
}

/* pricing banner end here */


/* CUSTOMER comment start here */
.customer{
    width: 100%;
    padding: 50px 0px;
    background-color: #FFFFFF;
}
.review .comment-box{
    background-color: #F5F5F5;
    position: relative;
    z-index: 1;
}

.review .comment-box p{
    color: #A2A3A6;
    padding: 25px 15px;
    text-align: left;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #949598;

}

.review {
    margin: 0px 48px;

}
.review .comment-box .corner{
    background-color: #F5F5F5;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -10px;
    left: 15px;
    transform: rotate(45deg);
    z-index: -1;
}
.img-intro{
    margin-top: 15px;
    display: inline-block;
    padding-left: 13px;
}

.img-intro .col-md-4{
    padding-right: 0;
}

.img-intro .col-md-8{
    text-align: left;

}
.img-intro .col-md-8 h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333333;

}
.img-intro .col-md-8 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #86878B;

    
}
/* CUSTOMER comment end here */

/*  STYLISH AXURE DESIGN start here */
.stylish{
    background-image: url(../img/bg-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stylish .heading-top{
    margin: 50px 0px;
    text-align: center;
}
.stylish .heading-top h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;

}
.stylish .heading-top p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;

}
.stylish .line{
    background-color: #FFFFFF ;

}
.heading-top  button{
    border-radius: 5px;
    padding: 10px 35px;
    background: transparent;
    border: 2px solid #F5F5F5 ;
    align-items: center;
}
.stylish .heading-top button:focus{
    outline: none;

}

.stylish .heading-top button a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF; 
}
.stylish .heading-top button:hover{
    border: 2px solid #FF8B38 ;
    background-color: #FF8B38;
    color: black; 
}
/*  STYLISH AXURE DESIGN end here */

/* CONTACT US start here */
.contact{
    width: 100%;
    margin: 50px 0px 6px 0px;
    background-color: #FFFFFF;
}
.contact-form{
    margin: 45px 0px;
}
.contact-form .left input{
    width: 95%;
    margin: 0 15px 20px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

.contact-form .right textarea{
    width: 95%;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

.contact-btn{
    text-align: center;
}
.contact-btn button{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 12px 30px;
    color: #fff;
    background: #ff9b51;
    border: none;
    margin-top: 40px;
    border-radius: 3px;
}
/* CONTACT US end here */

/* footer start here */
footer{
    background-color: #000000;
}

.sm-icon{

}

.sm-icon ul{
    justify-content: center;
    padding-top: 21px;

}
.sm-icon ul li:hover{
    transform: scale(1.8);

}
.sm-icon ul li a{
    color: #CCCCCC;
    font-size: 24px;
    padding: 20px;

}
.sm-icon p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #606060;
    margin: 0;
    text-align: center;
    padding-bottom: 17px;

}
.sm-icon p:hover{
    color: white;
    transform: scale(1.2);
}
.sm-icon ul li a:hover{
    color: #FF9B51;
    

}
/* footer end here */
